// lms - views - homepage view
// ====================
// TO-DO: combine this with _home.scss as a cleanup story

$learn-more-horizontal-position: calc(50% - 100px); // calculate the left position for "LEARN MORE" content
$height-course-info: ($baseline*5.5);
$padding-course-org: ($baseline*0.4);
$font-course-org: ($baseline*0.55);
$margin-course-title: ($baseline*0.75);
$bottom-course: ($baseline*0.45);
$horizontal-padding-course: ($baseline*0.65);
$font-course-date: ($baseline*0.5);

.courses-container {
  @include outer-container;

  .courses {
    @include row();
    @include float(left);

    width: 100%;

    .courses-listing {
      @extend %ui-no-list;

      .courses-listing-item {
        margin: 0 0 ($baseline*1.5) 0;
        max-height: $course-card-height;
      }
    }

    .course {
      box-sizing: border-box;

      @include transition(all $tmg-f3 linear 0s);

      position: relative;
      box-shadow: 0 1px 10px 0 $black-t0, inset 0 0 0 1px $white-t3;
      background: $body-bg;
      width: 100%;

      .course-image .cover-image {
        height: $course-image-height;
        overflow: hidden;

        // places the shadow on top of the course image while hovering over the course card
        &::before {
          @include left(0);

          @extend %ui-depth1;

          position: absolute;
          top: 0;
          opacity: 0;
          background: $black;
          width: 100%;
          height: $course-image-height;
          content: '';
        }

        img {
          width: 100%;
          height: auto;
        }

        .learn-more {
          @include left($learn-more-horizontal-position);

          box-sizing: border-box;

          @extend %ui-depth2;

          position: absolute;
          top: ($baseline*2.75);
          padding: 0 $baseline;
          width: ($baseline*10);
          height: ($baseline*2.5);
          border-color: theme-color("primary");
          border-radius: 3px;
          background: theme-color("primary");
          color: $white;
          line-height: ($baseline*2.5);
          text-align: center;
          opacity: 0;
          text-transform: none;
        }
      }

      .course-info {
        height: $height-course-info;
        font-family: $font-family-sans-serif;

        h2 {
          font-family: $font-family-sans-serif;
        }

        .course-organization,
        .course-code {
          @extend %t-icon6;

          color: #e85351;
          display: inline;
          text-transform: none;
        }

        .course-organization {
          @include line-height(11);

          padding: 0 $padding-course-org 0 $padding-course-org;
          background-color: #FEEBEE;
          margin: $margin-course-title;
          font-size: $font-course-org;
        }

        .course-code {
          @include line-height(16);

          padding: ($baseline*0.1) $margin-course-title;
          float: right;
          font-size: ($baseline*0.5);
        }

        .course-title {
          @include line-height(16);

          @extend %t-icon4;

          margin: $margin-course-title 0 $margin-course-title 0;
          text-align: left;
          padding: 0 $margin-course-title;
          height: ($baseline*1.3);
          color: black;
          display: block;
          text-transform: none;
          font-size: 75%;
        }

        .date_instructor_container {
          border: 1px solid #E9EAF0;
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: ($baseline*0.3) 0;
        }

        .course-date {
          @include line-height(14);
          padding-left: ($baseline*1.5);
          display: inline;
          font-size: $font-course-date;
          color: #777986;
        }

        .course-instructor {
          @include line-height(14);

          padding: (3*$baseline/10) $horizontal-padding-course (3*$baseline/10) 0;
          font-size: $font-course-date;
          color: #777986;
        }

        .instructor-wrapper {
          float: right;
          display: inline;
        }

        .date-clock {
          color: #EB999A;
          padding-left: $horizontal-padding-course;
          position: absolute;
          bottom: $bottom-course;
        }

        .instructor-icon {
          color: #EB999A;
          position: absolute;
          bottom: $bottom-course;
          margin-right: ($baseline*2);
          right: ($baseline*1.1);
        }
      }

      // STATE: hover and focus
      &:hover,
      &:focus {
        .cover-image {
          &::before {
            @include transition(opacity $tmg-f2 ease-out $tmg-f2);

            opacity: 0.6;
          }

          .learn-more {
            @include transition(opacity $tmg-f2 ease-out $tmg-f2);

            opacity: 1;
          }
        }
      }
    }
  }

  .courses-more {
    @include margin-right(0);

    text-align: center;

    @include media($large-min-width) {
      @include margin-right($baseline*0.5);
      @include text-align(right);
    }

    .courses-more-cta {
      font-weight: $font-semibold;

      &::after {
        content: " ›";
      }
    }
  }
}

/* Set homepage specific media queries */
.home .courses-container .courses .courses-listing .courses-listing-item {
  @include rtl() { $layout-direction: "RTL"; }

  @include fill-parent();

  @include media($bp-medium) {
    @include span-columns(4); // 4 of 8
    @include omega(2n);
  }

  @include media($bp-large) {
    @include span-columns(4); // 4 of 12
    @include omega(3n);
  }

  @include media($bp-huge) {
    @include span-columns(3); // 3 of 12
    @include omega(4n);
  }
}
